<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Required</title>
</head>
<body>
    <h2>Security Update: Password Reset Required</h2>
    <p>Dear User,</p>
    <p>We've detected unusual activity on your account. For your security, we require you to reset your password immediately.</p>
    <p>Please click the link below to reset your password:</p>
    <p><a href="{{ phishing_link }}">Reset Password</a></p>
    <p>If you didn't request this change, please contact our support team immediately.</p>
    <p>Best regards,<br>Security Team</p>
</body>
</html>